:root {
    --color-text-game-1: #9c9013;
    --color-text-game-2: #159c13;
    --color-text-game-3: #bf2419;
}

#gameContainer {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 30px;
    border: 2px solid #000;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/space.png');
    background-size: contain;
    background-position: center;
    opacity: 0.95;
    z-index: 1;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: var(--color-text-game-2); 
    font-weight: bold;
    z-index: 3;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;dw
    align-items: center;
    z-index: 5;
}

#gameOver {
    font-size: 40px;
    color: var(--color-text-game-3); 
    font-weight: bold;    
}

#playButton {
    width: 100px;
    height: 50px;
    font-size: 30px;
    padding: 20px 40px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

#playButton:hover {
    background-color: #2980b9;
}

#playButton:focus {
    outline: none;
}

#player {
    position: absolute;
    width: 60px;
    height: 100px;
    bottom: 0;
    background-image: url('/img/groundhog_1.png');
    background-size: cover;
    background-position: center;
    z-index: 4;
}

.platform {
    position: absolute;
    width: 150px;
    height: 42px;
    z-index: 2;
}

.platform_a {
    background-image: url('/img/platform_a.png');
    background-size: cover;
    background-position: center;
}

.platform_b {
    background-image: url('/img/platform_b.png');
    background-size: cover;
    background-position: center;
}