.slider {
  width: 80vw;
  height: 81vh;
  overflow: hidden;
  position: relative;
  margin-top: 5rem;
  border-radius: 1.2rem;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 80vw;
  height: 81vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  background-image: url(../img/star.png);
  background-color: var(--primary-color);
  animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% -100%;
    }
}
.poppy-container {
  display: flex;
  width: auto;
  height: 15rem;
  background-color: #eeeeee1f;
  color: var(--tertiary-color);
  border: 6px solid var(--eleven-color);
  border-radius: 0.8rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: -10rem;
}

.img-poppy img {
  max-width: 17rem; 
  height: auto; 
  margin-bottom: -15rem;
  margin-right: -45rem;
}

.text-container {
  display: flex;
  width: auto;
  height: 15rem;
  background-color: var(--twelve-color);
  color: var(--tertiary-color);
  border: 6px solid var(--nine-color);
  border-radius: 0.8rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: -10rem;
}

.img-container {
  max-width: 17rem; 
  height: auto; 
  margin-bottom: -15rem;
  margin-right: -45rem;
}

.img-container-left {
  max-width: 17rem; 
  height: auto; 
  margin-bottom: -15rem; 
  margin-left: -45rem;
}

.platform {
  width: 80vw;
  height: 9rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20% 20% 0 0;
  background-color: var(--ten-color);
}

.text {
  font-size: 1.8rem;
  display: flex;
  width: 30rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.credits-container {
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
}

.credits-title {
  font-size: 2rem;
  padding-left: 2rem;
  color: #2881e0;
  margin-bottom: -1.6rem;
}


button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 1rem;
  height: 1rem;
  background: var(--bg-color);
  color: var(--seven-color);
  border: none;
  border-radius: 100%;
  padding: 1.3rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--eight-color);
  transform: scale(1.05);
}

.prev {
  left: 2.5rem;
}

.next {
  right: 2.5rem;
}

@media (max-width: 1070px) {
    .text-container {
        height: 19rem;
    }
    
    .img-container {
        margin-bottom: -11rem;
        margin-right: -30rem;
    }
    
    .img-container-left {
        margin-bottom: -9rem; 
        margin-left: -40rem;
    }

    .text {
        font-size: 1.7rem;
        width: 25rem;
    }
}

@media (max-width: 800px) {
    .img-container {
        margin-bottom: -12rem;
        margin-right: -19rem;
    }
    
    .img-container-left {
        margin-bottom: -10rem; 
        margin-left: -30rem;
    }

    .prev { 
      left: 0.3rem; 
    }
    .next {
      right: 0.3rem; 
    }
}

@media (max-width: 600px) {
    .poppy-container {
        height: 13rem;
    }
    
    .img-poppy img {
        max-width: 14rem;
    }
    
    .text-container {
        height: 15rem;
        margin-bottom: -2rem;
    }

    .img-container {
        margin-bottom: -8rem;
        margin-right: -6rem;
    }
    
    .img-container-left {
        margin-bottom: -6rem; 
        margin-left: -18rem;
    }

    .text {
        font-size: 1.5rem;
        width: 20rem;
    }

    .prev { 
      left: 0.3rem; 
    }
    .next { 
      right: 0.3rem; 
    }
}


