.slider {
  width: 80vw;
  height: 81vh;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  border-radius: 20px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 80vw;
  position: relative;
  height: 81vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-image: url(../img/star.png);
  background-color: var(--primary-color);
  animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% -100%;
    }
}
.poppy-container {
  position: absolute;
  bottom: 25rem;
  width: auto;
  height: auto;
  background-color: #eeeeee1f;
  color: var(--tertiary-color);
  border: 6px solid var(--eleven-color);
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.img-poppy img {
  position: absolute;
  bottom: 140px;
  right: 640px;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.text-container {
  position: absolute;
  bottom: 15rem;
  width: auto;
  height: auto;
  background-color: var(--twelve-color);
  color: var(--tertiary-color);
  border: 6px solid var(--nine-color);
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.img-container {
  position: absolute;
  bottom: 3rem;
  right: 15.7rem;
  z-index: 10;
}

.img-container-left {
  position: absolute;
  bottom: 3rem;
  left: 15.7rem;
  z-index: 10;
}

.platform {
  width: 80vw;
  height: 140px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20% 20% 0 0;
  background-color: var(--ten-color);
}

.text {
  font-size: 1.5rem;
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.quiz-container {
  position: absolute;
  bottom: 13rem;
  width: 40rem;
  padding: 20px;
  color: var(--tertiary-color);
  border: 6px solid var(--nine-color);
  border-radius: 15px;
  margin: 20px;
  font-size: 16px;
}

.button-container {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.button {
  width: 18rem;
  padding: 1.2rem;
  text-align: center;
  border-radius: 1.5rem;
  text-decoration: none;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.3s, transform 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.white-button {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.white-button:hover {
  background-color: var(--quaternary-color);
  transform: translateY(-2px);
}

.credits-container {
  color: var(--tertiary-color);
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 20px;
  height: 20px;
  background: var(--bg-color);
  color: var(--seven-color);
  border: none;
  border-radius: 100%;
  padding: 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--eight-color);
  transform: scale(1.05);
}

.prev {
  left: 40px;
}

.next {
  right: 40px;
}
