:root {
  --bg-color: #eee;
  --primary-color: #000425;
  --secondary-color: #1a1f64;
  --tertiary-color: #fff;
  --quaternary-color: #e4e2e2;
  --quinquenary-color: #d4d4d4;
  --six-color: #e6e3e3;
  --seven-color: #000;
  --eight-color: #2955a8;
  --nine-color: #2881e0;
  --ten-color: #0e0b8b;
  --eleven-color: #de87f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
}

h1 {
  color: var(--primary-color) s;
  font-size: 2.5rem;
}

h2 {
  color: var(--primary-color) s;
  font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--primary-color) s;
}

p, ol{
  margin-top: 1rem;
  font-size: 1.8rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border: 1px solid var(--quinquenary-color);
}

.navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flags {
    position: absolute;
    top: 20px;
    right: 20px;
}

.flag {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 2.5rem;
  margin-right: 1rem;
}

.title {
  font-size: 4.5rem;
  word-spacing: -3px;
}

.span-title {
  color: var(--primary-color);
  text-transform: uppercase;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 6rem);
  padding-top: 4rem;
}

.intro-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.info {
  flex: 1;
  justify-content: center;
  margin: 8rem;
}

.img-container {
  flex: 1;
}

.img-container img {
  width: 100%;
  height: auto;
}

.button-container {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}

.button {
  width: 18rem;
  padding: 1.2rem;
  text-align: center;
  border-radius: 1.5rem;
  text-decoration: none;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.3s, transform 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.blue-button {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

.blue-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.white-button {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.white-button:hover {
  background-color: var(--quaternary-color);
  transform: translateY(-2px);
}

.footer {
  height: 5.5rem;
  background-color: var(--six-color);
  color: var(--seven-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-size: 1.1rem;
}

.footer span {
  font-size: 1rem;
}
