:root {
  --bg-color: #eee;
  --primary-color: #000425;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
}

p {
  margin-top: 1rem;
  font-size: 1.8rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border: 1px solid #d4d4d4;
}

h1 {
  color: var(--primary-color) s;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 2.5rem;
  margin-right: 1rem;
}

.title {
  font-size: 4.5rem;
  word-spacing: -3px;
}

.span-title {
  color: var(--primary-color);
  text-transform: uppercase;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 6rem);
  padding-top: 4rem;
}

.intro-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.info {
  flex: 1;
  justify-content: center;
  margin: 8rem;
}

.img-container {
  flex: 1;
}

.img-container img {
  width: 100%;
  height: auto;
}

.button-container {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}

.button {
  width: 18rem;
  padding: 1.2rem;
  text-align: center;
  border-radius: 1.5rem;
  text-decoration: none;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.3s, transform 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.blue-button {
  color: #fff;
  background-color: var(--primary-color);
}

.blue-button:hover {
  background-color: #1a1f64;
  transform: translateY(-2px);
}

.white-button {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.white-button:hover {
  background-color: #e4e2e2;
  transform: translateY(-2px);
}

.footer {
  height: 5.5rem;
  background-color: #e6e3e3;
  color: #000;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-size: 1.1rem;
}

.footer span {
  font-size: 1rem;
}
