<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exoplanets - Game</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/game.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/icon-logo.png" />
  </head>
  <body>
    <header class="logo-container">
      <nav id="navbar" class="navbar">
        <a href="../index.html">
          <img class="logo-img" src="../img/" alt="logo" />
          <h1>Nordestelar</h1>
        </a>
      </nav>
      <div class="flags">
        <img
          src="../img/flag-br.png"
          alt="Português do Brasil"
          class="flag"
          id="flag-br"
        />
        <img src="../img/flag-us.png" alt="Inglês" class="flag" id="flag-us" />
      </div>
    </header>
    <main id="home" class="main-container">
      <div class="content centralize">
        <div id="gameContainer">
          <div id="player"></div>
          <div id="score"></div>
          <div id="result">
            <div id="gameOver"></div>
            <br/>
            <button id="playButton" class="gameButton" onclick="startGame()">
              &#9658;
            </button>
          </div>
          <div id="factModal">
            <div id="factContent"></div>
            <br />
            <div id="counter"></div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <a href="./about.html" class="link-rodape">
        <p>© Nordestelar 2024<br />All rights reserved. <br><span>Icon by Freepik</span></p>
      </a>
    </footer>
    <script src="../js/data.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/game.js"></script>
  </body>
</html>
