<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exoplanets - Quiz</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png" />
  </head>
  <body>
    <header class="logo-container">
      <nav id="navbar" class="navbar">
        <a href="../index.html">
          <img class="logo-img" src="../img/logo.png" alt="logo" />
          <h1>Nordestelar</h1>
        </a>
      </nav>
      <div class="flags">
        <img
          src="../img/flag-br.png"
          alt="Português do Brasil"
          class="flag"
          id="flag-br"
        />
        <img src="../img/flag-us.png" alt="Inglês" class="flag" id="flag-us" />
      </div>
    </header>
    <main id="home" class="main-container">
      <div class="content">
        <h2>Quiz</h2>
        <p>Exemplo texto</p>
      </div>
    </main>
    <footer class="footer">
      <a href="./about.html" class="link-rodape">
        <p>
          © Nordestelar, 2024. <br />
          Todos os direitos reservados. <br /><span>Icon by Freepik</span>
        </p>
      </a>
    </footer>
  </body>
</html>
