<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exoplanets - Story</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/story.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
</head>
<body>
    <header class="logo-container">
        <nav id="navbar" class="navbar">
            <a href="../index.html">
                <img class="logo-img" src="../img/logo.png" alt="logo">
                <h1>Nordestelar</h1>
            </a>
        </nav>
        <div class="flags">
            <img src="../img/flag-br.png" alt="Português do Brasil" class="flag" id="flag-br">
            <img src="../img/flag-us.png" alt="Inglês" class="flag" id="flag-us">
        </div>
    </header>
    <main id="home" class="main-container">
        <div class="slider">
            <section class="slides">
                <div class="slide">
                    <div class="poppy-container">
                        <p class="text">Poppy loves reading books, and one day, she found a story about Captain Fluff, an astronaut marmot.</p>
                    </div>
                    <div class="img-poppy">
                        <img src="../img/poppy.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>            
                <div class="slide">
                    <div class="poppy-container">
                        <p class="text">“I love Captain Fluff! I want to meet her!” Poppy exclaimed.</p>
                    </div>
                    <div class="img-poppy">
                        <img src="../img/poppy.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="poppy-container">
                        <p class="text">She imagined exploring space with Fluff.</p>
                    </div>
                    <div class="img-poppy">
                        <img src="../img/poppy.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="poppy-container">
                        <p class="text">“What if we studied exoplanets together?”</p>
                    </div>
                    <div class="img-poppy">
                        <img src="../img/poppy.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“Did you know there are over 5,000 exoplanets out there? It’s like a cosmic treasure hunt happening right now!”</p>
                    </div>
                    <div class="img-container">
                        <img src="../img/groundhog_right.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“Exoplanets can be super wacky! Some are giant gas balls, while others are rocky like Earth. It’s like a whole zoo of planets!”</p>
                    </div>
                    <div class="img-container-left">
                        <img src="../img/groundhog_left.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“Some have wild weather—think acid storms and scorching heat! The diversity in the universe is full of surprises!”</p>
                    </div>
                    <div class="img-container">
                        <img src="../img/groundhog_right.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“How do we find these mysterious planets? We use a cool trick called 'transit.' When a planet sneaks in front of a star, it makes the star look dimmer—like flipping the switch on a cosmic lamp!”</p>
                    </div>
                    <div class="img-container-left">
                            <img src="../img/groundhog_left.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“About 20% of exoplanets hang out in the 'habitable zone.' This is the sweet spot for liquid water, which means… maybe life is throwing a party there!”</p>
                    </div>
                    <div class="img-container">
                        <img src="../img/groundhog_right.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“On some of these planets, a day can last for weeks! Imagine long, lazy days and super short nights—perfect for stargazing!”</p>
                    </div>
                    <div class="img-container-left">
                        <img src="../img/groundhog_left.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“Some exoplanets orbit not one but TWO stars! These 'circumbinary planets' might have the most epic sunsets ever—talk about a celestial show!”</p>
                    </div>
                    <div class="img-container">
                        <img src="../img/groundhog_right.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="poppy-container">
                        <p class="text">"I feel like a space detective!"</p>
                    </div>
                    <div class="img-poppy">
                        <img src="../img/poppy.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“We can uncover secrets that help protect Earth and understand how these planets influence our climate too!”</p>
                    </div>
                    <div class="img-container">
                        <img src="../img/groundhog_right.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“Take TRAPPIST-1e, for example! It’s like Earth with water! Studying it helps us understand how water behaves in different places and affects our climate.”</p>
                    </div>
                    <div class="img-container-left">
                        <img src="../img/groundhog_left.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“Then there’s Kepler-186f, our 'Earth’s sibling!' By learning about its atmosphere, we discover how water can change over time here on our planet.”</p>
                    </div>
                    <div class="img-container">
                        <img src="../img/groundhog_right.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“Let’s not forget HD 209458 b, also known as Osiris! It’s a super-hot planet with huge storms. Analyzing it gives us clues about storms on Earth!”</p>
                    </div>
                    <div class="img-container-left">
                        <img src="../img/groundhog_left.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“And what about WASP-121b? Imagine a planet so hot that its atmosphere shines! Studying it helps us understand extreme climate phenomena right here!”</p>
                    </div>
                    <div class="img-container">
                        <img src="../img/groundhog_right.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“Last but not least, there’s LHS 1140 b, which might have lots of water vapor! Analyzing its atmosphere teaches us about global warming and its effects on Earth's water.”</p>
                    </div>
                    <div class="img-container-left">
                        <img src="../img/groundhog_left.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>            
                <div class="slide">
                    <div class="text-container">
                        <p class="text">“With amazing telescopes like the James Webb, we’re ready to uncover the universe’s secrets. It’s like having a backstage pass to the cosmos!”</p>
                    </div>
                    <div class="img-container">
                        <img src="../img/groundhog_right.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="poppy-container">
                        <p class="text">“Maybe I’ll become an astronaut and explore these worlds!”</p>
                    </div>
                    <div class="img-poppy">
                        <img src="../img/poppy2.png" alt="">
                    </div>
                    <div class="platform"></div>
                </div>
                <div class="slide">
                    <div class="quiz-container">
                        <h1 class="quiz-title">Now that you've explored a bit about exoplanets, take a quiz.</p>
                        <div class="button-container">
                            <a href="#" class="button white-button">Start a Quiz</a>
                        </div>
                    </div>
                </div>        
                <div class="slide">
                    <div class="credits-container">
                        <p class="text">This website was created by the team Nordestelar, composed of Aline Rhanny, Gabriel Henrique Silva, Leonardo José Garcia Maia and Thalita Oliveira for the NASA Hackathon 2024.</p>
                        <p  class="text">Resources Used: The texts for the story, mini game, and quiz were adapted from the site [site], with assistance from ChatGPT, to ensure an accessible and simplified language, making the content understandable for everyone</p>
                    </div>
            
                </div>            
            </section>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>
    </main>
    <footer class="footer">
        <a href="./about.html" class="link-rodape">
            <p>© Nordestelar 2024<br />All rights reserved. <br><span>Icon by Freepik</span></p>
        </a>
    </footer>
    <script src="../js/data.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/story.js"></script>
</body>
</html>